Makefile
autom4te.cache/
config.log
config.status
rpmfusion-packager.spec
# from make clean
rpmfusion-packager-setup
rpmfusion-free-cvs
rpmfusion-nonfree-cvs
rpmfusion-koji
rpmfusion-cert
Makefile.in
aclocal.m4
rpmfusion-packager*.tar.gz
configure
install-sh
missing
py-compile
__pycache__/
